.gallery .control-button {
  color: rgba(250, 250, 250, 0.8);
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: rgba(250, 250, 250, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  width: 100vw;
  position: relative;
  background: rgba(250, 250, 250, 0.8);
}
.gallery .item {
  width: 100vw;
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: rgba(250, 250, 250, 0.8);
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  margin-bottom: 5px;
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

